#everything {
  margin-top: 20px;
  margin-left: 170px;
  margin-right: 170px;
  padding: 10px 150px 10px 150px; 
}

#me {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

#name {
  float: left;
  font-size: 43px;
  text-align: left;
  text-indent: 5px;
  border-left-style: solid;
  border-width: 8px;
  border-color: navy;
  margin-bottom: 20px;
  background-color: white;
}

#contact-info {
  float: right;
  text-align: right;
  text-indent: 5px;
  border-top-style: solid;
  border-width: 8px;
  font-size: 26px;
  border-color: red;
  margin-bottom: 20px;
  background-color: white;
}

h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

#professional-experience {
  margin-top: 10px;
  border-right-style: solid;
  border-width: 8px;
  border-color: yellow;
  clear: left;
  z-index: 1;
}

#education {
  margin-top: 10px;
}

#skills {
  margin-top: 10px;
  border-top-style: solid;
  border-width: 8px;
  border-color: navy;
}
